<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <title>JWT Example</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <h1>Login to access the content</h1>
        <form action="/auth" method="POST">
            <label for="inputEmail">Username</label>
            <input type="text" name="username" placeholder="username" class="form-control">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" placeholder="*************" class="form-control">
            <input type="submit" value="Login" class="btn btn-success" type="login">

        </form>
    </body>
</html>